* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

body {
    background: #F5F5DC;
}

.container_form {
    margin-top: 20px;
    width: 40%;
}

.container_result {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.label {
    width: 200px;
    display: flex;
    align-items: center;
}
